{{#if context.label}}
  <label>{{context.label}}</label>
{{/if}}
{{input value=context.rangeText class='daterangepicker-input form-control pull-right' placeholder=context.placeholder}}
<div class="hide">
  {{input value=context.start}}
  {{input value=context.end}}
</div>
