{{input value=context.rangeText class='daterangepicker-input form-control pull-right' placeholder=context.placeholder}}
<div class="hide">
  {{input value=context.start}}
  {{input value=context.end}}
</div>
<i class="smhw calendar-icon ti-calendar" {{action 'focusInput'}}></i>
