{{#if hasBlock}}
  {{yield (hash
    input=(component componentNameInput classNames=dateRangePickerInputClassName placeholder=placeholder)
  )}}
{{else}}
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
  {{component componentNameInput classNames=dateRangePickerInputClassName placeholder=placeholder}}
{{/if}}
