<div class="container">
  <h2 id="title">{{#link-to 'index'}}Welcome to Ember.js{{/link-to}}</h2>
  {{link-to 'With-Params' 'with-params'}} |
  {{link-to 'Without-Params' 'without-params'}}
  <hr>
  {{outlet}}
</div>
