<h4>Route</h4>
<div>
  {{#date-range-picker
    start="20140101"
    end="20141231"
    serverFormat="YYYYMMDD"
   as |picker|}}
    
      <label>Awesome Form Label</label>
      
      <div class="input-group">
        {{input value=rangeText class='daterangepicker-input form-control' placeholder=placeholder}}
        <span class="input-group-btn">
          <button class="btn btn-success" type="button">Search</button>
        </span>
      </div>

  {{/date-range-picker}}
</div>
