<h4>With Params</h4>
<div>
  {{date-range-picker
    start=startDate
    end=endDate
    serverFormat="YYYYMMDD"
    applyAction=(action "apply")
    cancelAction=(action "cancel")
  }}

  startDate: {{startDate}}
  <br>
  endDate: {{endDate}}
</div>
